local.properties
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
/build.gradle
/keystore.properties
/keystore/*
/app/src/main/res/values/unofficial_strings.xml
/app/build/*
/keystore/
/app/release/*.apk
/app/release/baselineProfiles/*/*.dm
/app/release/output-metadata.json
.vscode/
.claude/settings.local.json
